VITE_API_URL=http://localhost:8001
VITE_WS_URL=ws://localhost:3002
VITE_APP_NAME=IF-Codes
VITE_PUSHER_APP_KEY=
VITE_PUSHER_HOST=
VITE_PUSHER_PORT=443
VITE_PUSHER_SCHEME=https
VITE_PUSHER_APP_CLUSTER=mt1
